body{
  background-color: rgb(90, 112, 134);
}
h1{
color: white;
text-align: center;
font-style: italic;
}
h2{
  color: white;
}

p{
  color: black;
  font-size: 18px;
}

li{
  color: black;
  font-size: 18px;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #DBE9FA;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #98AFC7;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #77BFC7;
  background-color: transparent;
  text-decoration: underline;
}

img{
  float:right;
  width: 290px;
  height:350px;
}


/*Navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4d7691;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/*Navigation bar end*/



